::-moz-selection {
	background: hsl(0, 0%, 90%) !important;
}
::selection {
	background: hsl(0, 0%, 90%) !important;
}
* {
	text-align: center;
}
canvas {
	padding: 5px;
	border: 5px solid #000;
}
