::-moz-selection {
	background: hsl(0, 0%, 90%) !important;
}
::selection {
	background: hsl(0, 0%, 90%) !important;
}
* {
	text-align: center;
}
canvas {
	padding: 0.25rem;
	border: 0.25rem solid #000;
}

body {
	margin: 4rem;
}